-main- {
	font-family: "Open Sans";
}

.analyticsdonutchart {
	position: absolute;
	right: -75px;
	top: 8px;
}

.pageviews-container {
	position: relative;
	top: 15px;
	left: 50px;
}

.count {
	font-size: 50px;
	display:inline-block;
}